$base-color: #4b21ff;
$base-hover: #c1b3ff;
$base-gray: #51517a;
$main-font: #fff;
$white: #fff;
$black: #323232;
$main-transition: all 0.3s linear;
$light-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$dark-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
$blueish-bg: rgba(3,3,30,0.80);